body{
    padding: 0px;
    margin: 0px;
    background-color: #faf7ec;
    /* width: 100vw; */
    overflow-x: hidden;
}

.maindiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 50px;
    font-size: 20px;
}

.logo{
    height: 100px;
    width: 100px;
    object-fit: contain;
}

.items{
    display: flex;
    gap: 30px;
    /* justify-content: space-between; */
}

.login{
    background-color: #fd975b;
    height: 40px;
    width: 70px;
    border-radius: 5px;
    color: white;
    border: none;

}
.login:hover{
    cursor: pointer;
}

.home {
    color: #fd975b;
}

.hero{
    margin-top: 10vh;

    display: flex;
    flex-direction: column;
    gap: 10px ;
    align-items: center;
}
.headingtext{
    font-size: 60px;
}
.hero-para{
    margin-top: 10vh;
    font-size: 20px;
}

.button1{
    height: 8vh;
    width: 10vw;
    background-color: #0b363d;
    color: white;
}
.button2{
    height: 8vh;
    width: 10vw;
}
.dashboard {
    height: 60vh;
    width: 70vw;
    margin-top: 15vh;
    overflow: hidden;

}
.custom_wave{
    position: absolute;
    bottom: -600px;
}

/* .all_image{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.global_img{
    height: 200px;
    width: 300px;
} */

.all_img{
    margin: 15vh 5vw 0vh 5vw;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.each_img{
    height: 200px;
    width: 100px;
}

.main_section{
    display: flex;
    margin: 10vh 3vw 0vh 3vw;
}
.left_section{
    width: 50vw;
}

 /* .left_section p{
    color: #fd975b;
    font-weight: 700; 
} */
.left_section h1{
    font-size: 40px;
    font-weight: 800;
}
.productivity{
    color: #fd975b;
}
.card_section{
    display: flex;
    gap: 20px;
    margin-top: 15vh;
}

.cards{
    height: 35vh;
    width: 16vw;
    background-color: #f2eddd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    gap: 30px;
    padding: 30px;
}
/* .svg_icon{
    padding-left: 0px;
} */
.right_section{
    width: 50vw;
     display: flex;
    gap: 20px; 
}
.leftdiv{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.rightdiv{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.appoitment{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* .first_child{
    height: 10vh;
    width: 20vw;
    background-color: aqua;
    display: flex;
    gap: 20px;
}

.second_child{
    margin-top: 20vh;
    height: 10vh;
    width: 20vw;
    background-color: aqua;
    display: flex;
    gap: 20px;
} */

.container{
    margin-top: 20vh;
    padding: 40px 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f2eddd;
}

.yellow{
    color: #fd975b;
}
.big_size{
    font-size: 40px;
}
.global{
    padding: 10vh 3vw;
}
.holder{
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    gap: 5vw;
    /* text-decoration-color: #0b363d; */
}
.child{
    padding-left: 0px;
   
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.svgcolor{
    color: #f16b1d;
}
.category{

    height: 8vh;
    width: 12vw;
    margin-top: 10vh;
    background-color: #0b363d;
    color: white;
    border-radius: 5px;

}
.lkjhg{
    display: flex;
    align-items: center;
}
.akcj{
    display: flex;
    justify-content: space-between;
}

.imageme{
    height: 80vh;
    width: 50vw;
}
 .performance_metrics{
    padding: 100px 50px;
    display: flex;
    gap: 10vw;
}
.active_user{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.sab{
    display: flex;
    gap: 2px;
    align-items: center;
}
.all_four{
    background-color: #0b363d;
    padding: 5vh 10vw;
    display: flex;
    justify-content: space-between;
}
.both{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.white{
    color: white;
    font-size: 35px;
    margin-bottom: 0px;
}
.light_white{
    color: #7b9296;
    font-size: 19px;
    margin-top: 8px;
    margin-bottom: 0px;
}
.icone_me{
    height: 45px;
    width: 40px;
    border-radius: 8px;
    padding: 20px;
    background-color: #d1e7dd;
}


.whole_container{
    padding: 15vh 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading_section{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.heading_section h2{
    font-size: 40px;
    margin-top: 15px;
}
.extra{
    font-size: 20px;
    margin: 0px;
}

.card_section{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.each_card{
    width: 33.3%;
    padding: 5vh;
    border: 1px solid yellow;
    border-radius: 10px;
}
.top{
    background-color: #fff9f5;
    padding: 8px 8px;
    border-radius: 5px;
}
.bottom{
    margin-top: 40px;
}
.size{
    font-size: 30px;
    color: #0b363d;
    font-weight: 900;
}
.inner{
    display: flex;
    gap: 10px;
    /* justify-content: center; */
    /* flex-direction: column; */
    align-items: center;
}
.bttndiv{
    background-color: #f8f8f8;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.get_started{
    height: 7vh;
    width: 12vw;
    border: 1px solid black;
    color: rgb(2, 2, 34);
    border-radius: 5px;
}
.get_started:hover{
    cursor: pointer;
    background-color: #010e10;
    color: white;
}
.second_get_started{
    height: 7vh;
    width: 12vw;
    background-color: #0b363d;
    /* border: 1px solid black; */
    color: white;
    border-radius: 5px;
}
.second_get_started:hover{
    cursor: pointer;
}
.secondtop{
    background-color: #0b363d;
    border-radius: 10px;
    color: wheat;
    padding: 8px 8px;
}

.last_container{
    padding: 5vh 5vw;
}
.need_support{
    text-align: center;
}

.two_holder{
    display: flex;
    justify-content: space-between;
    padding: 7vh 5vw;

}
.each_section{
    display: flex;
    flex-direction: column;
}
.circle{
    background-color: #d1e7dd;
    border-radius: 25px;
}

.milauna{
    display: flex;
    align-items: center;
    gap: 10px;
}

.topaddin{
    padding-left: 30px;
    margin-top: 0px;
}

.row_container{
    background-color: #f3e57b30;
    padding: 18vh 8vw;
    display: flex;
    /* gap: 5vw; */
    justify-content: space-between;
}
.first_div{
    height: 15vh;
    width: 18vw;
    background-color: #ffffff;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 25px;
}
.flexing{
    display: flex;
    flex-direction: column;
}
.size1{
    margin-bottom: 0px;
    font-size: 22px;
    /* color: black; */
    font-weight: 900;
}

.footer_section{
    padding: 10vh 5vw;
    background-color: #072a2f;
    color: white;
    display: flex;
    justify-content: space-between;
}
.image_changes{
    height: 7vh;
    width: 10vw;
}
.try{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.common{
    display: flex;
    flex-direction: column;
}